/*las variables en sass se definen con el signo de $*/
$rojo: #f81010;
$azul: #002366;
$blanco: #fff;
$celeste: #8EF5;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    text-align: center;
    @include margenes(60px, 20px);
    background-color: $azul;
    color: $celeste;
}
 
.btn-primary {
    background-color: $azul !important;
}

.btn-primary :hover {
    background-color: $celeste !important;
}

h5 {
 text-align: center;
}

.card-header {
    text-align: center;
    font-weight: bold;
    color: $rojo;
}

.card-hotel {
    flex: 1 300px;
    @include margenes(10px, 0px)
}

.nav-item {
    margin-right: 20px;
}

.img-card {
    width: 10%;
    height: 50%; }

.btn-primary {
    border-radius: 0px;
}

.carousel-inner{ 
    width:100%; 
    max-height: 300px !important; 
    min-height: 300px !important;
} 

.tab-content {
    padding-top: 10px;
}
    
 footer {
     background-color: $azul;
     @include margenes(20px, 0px)
 }

 footer a {
     color: $celeste;
 }

footer .col-md-4 {
    padding: 60px;
}
 
footer p {
    color: $blanco;
}